<html>
	<head>
		<link rel="stylesheet" 
				type="text/css" 
				href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></link>
	</head>
	<body>
		
		<div>
			<form role="form" method="POST" action="#">
				<p class="form-group">
					<label> UserName </label>
					<br>
					<input class="form-control" type="text" name="username" data-bind="value: name"/>
				</p>
				<p class="form-group">
					<label> Password </label>
					<br>
					<input class="form-control" type="text" name="password"/>
				</p>
				<input type="submit" class="btn btn-primary" value="Log In"></submit>
			</form>	
		</div>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
		<script type="text/javascript" src="index.js"></script>
	</body>

<html>