<html>
	<head>
		<link rel="stylesheet" 
				type="text/css" 
				href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></link>
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	</head>
	<body>
		
		<div class="top-wrapper">
			<header>
				<span>Welcome, </span>
				<label data-bind="text: 'User'"></label>
			</header>
		</div>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout-validation/1.0.2/knockout.validation.min.js" defer></script>
		<script type="text/javascript" src="index.js" defer></script>
	</body>

<html>